usrdata/
local_llm/
release/
*.log
*.pyc
*.tmp
*.msc
server_err.txt
server_out.txt
.rebuild
.rebuild_result
__pycache__/
backend/data_builtin_test/
backend/.msc
electron/dist-backend/
electron/dist-builtin/
electron/build-temp/
electron/.pyinstaller_cache/
electron/node_modules/
.DS_Store
.idea/
.vscode/
.env
venv/
env/
.venv/

_*.py
demo/
.gitignore
